# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-freeze.txt
pip-selfcheck.json

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
*.env.local
*.env.*.local

# Build artifacts
dist/
build/
*.egg-info/

# Test results
/htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
